<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<p>You have requested <%- productName %>.  Unfortunately that product is out of stock.</p>
<a href="/restricted/products">Back</a>
<a href="/">Home</a>
</body>
</html>