<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <h1>What product would you like?</h1>
    <form action="/restricted/product" method="get">
       <label for="product">title</label>
       <input type="text" id="product" name="product">
       <br>
       <button type="submit">Query</button>
    </form>
<a href="/">Home</a>
</body>
</html>