<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h2><%= note.title %></h2>
<p><%= note.text %></p>
<a href="/restricted/notes-list">Back</a>
</body>
</html>